*{
    margin: 0;
    padding: 0;
    font-family: Metropolis;
}
.bg{
    background-color: #222;
    padding: 15px;
}
.head{
    color: #ddd;
    display: flex;
    justify-content: space-between;
}
.layout{
    /*background-color: #333;*/
    padding: 10px 0;
}
.title-img{
    width: 100%;
    height: 120px;
    margin-top: 20px;
}
.ground{
    color: #ddd;
    margin: 15px 0;
}
.ground-panel{
    background: #444;
    padding: 10px 14px;
    margin: 10px 0;
    width: 70%;
    border-radius: 8px;
}
.ground-panel li{
    padding: 3px;
}
.send-panel{
    background: #444;
    margin-top: 10px;
    border-radius: 8px;
    padding: 20px 10px;
    color: #ddd;
}
.panel-head img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.panel-head span {
    padding-left: 6px;
}
.panel-head button{
    width: 80px;
    height: 26px;
    border-radius: 20px;
    background: #f44;
    border: 1px solid #f44;
    color: #ddd;
    /*line-height: 26px;*/
    float: right;
    text-align: center;
}
.panel-content {
    margin-top: 10px;
}
.photo-layout{
    display: flex;
    justify-content: space-between;
}
.panel-content img{
    width: 115px;
    height: 115px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 8px;
}
.panel-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.bottom-bar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #222;
    line-height: 50px;
}
.bottom{
    margin: 0px;
}
.bottom-bar li{
    list-style: none;
    float: left;
    padding: 0 5px;
    width: 25%;
    text-align: center;
}
.bottom-bar li a {
    text-decoration: none;
    width: 100%;
    color: #ccc;
}
.bottom-bar li img{
    width: 15px;
    height: 15px;
}